* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    flex-wrap: wrap;
    
}

.logo {
    color: #b4574d;
    font-size: 24px;
    font-weight: bold;
  

}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
    
}

.nav-links a {
    text-decoration: none;
    color: #f5f2f2;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00c3ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Section Styling */
.product-section {
    padding: 50px;
    
}

.product-section h2 {
    margin-bottom: 30px;
    color: #333;
}

/* Product Container */
.product-container {
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
}

/* Product Card */
.product-card {
    background: #fff;
    width: 120px;
    font-size: small;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(147, 90, 90, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-20px);
 
}

.product-card img {
    width:90%;
    border-radius: 20px;
}

.product-card h3 {
    margin: 10px 0;
}



.pantshirt{
    width: 300px;
}
.rate{
    color: blue;
    
    
}
a.clickhere:hover{
    border: skyblue;
}

